#searchButton {
    margin-top: 8px;
}

.favorable {
    color: green;
}

.moderate {
    color: yellow;
}

.severe {
    color: red;
}

.card {
    margin: 6px;
    height: 240px;
    width: 200px;
    display: inline-block;
}

button {
  border: solid 2px black;
  display: list-item;
  margin: 3px;
  border-radius: 4px;
}