#searchButton {
    margin-top: 8px;
}

.favorable {
    color: green;
}

.moderate {
    color: yellow;
}

.severe {
    color: red;
}

.card {
    margin: 6px;
    height: 240px;
    width: 210px;
    display: inline-block;
}